@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    font-family: 'DM Sans', sans-serif;
    background-color: #088C7F;
}

#header {
    background-color: #0D0D0D;
    color: #F2CB05;
    border-radius: 25px;
}

#content {
    height: 100%;
}

.tablinks {
    background-color: #0D0D0D;
    color: white;
    border-radius: 50px;
}

.tablinks:hover {
    background-color: #F2CB05;
    color: black;
}

.tabcontent {
    width: 100%;
    height: 100%;
}

#isi {
    background-color: #F2CB05;
    color: #0D0D0D;
    border-radius: 25px;
}

.link-music {
    background-color: #088C7F;
    border-radius: 25px;
}

.link-music a {
    color: white;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.link-music:hover,
a:hover {
    color: #F2CB05;
    background-color: #0D0D0D;
}

#footer {
    background-color: #0D0D0D;
    color: #F2CB05;
    border-radius: 10px;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255); 
  border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0D0D0D; 
  border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F2CB05;
}